<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles Css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <!--Favicon-->
    <!-- <link rel="shortcut icon" href="./img/favicon-utm.png" type="image/x-icon"> -->
    <!-- FontAwasome -->
    <script src="https://kit.fontawesome.com/be736cc148.js" crossorigin="anonymous"></script>

    <title>Correo</title>
</head>
<body>
    <header class="header">  <!-- Barra superior -->
        <div class="header__left"> <!-- btn izquierda -->
            <i class="fa-solid fa-bars header__menu btn"></i>
            <a href="/" class="header_index">
                <!-- <img src="./img/Logo_UTM.png" alt="" class="header__Logo "> -->
                <h1>Correo</h1>
            </a>
        </div>
        <div class="header__right"> <!-- btn derecha -->
            <i class="fa-solid fa-magnifying-glass header__search btn"></i>
            <i class="fa-solid fa-circle-question header__medical btn"></i>
            <i class="fa-solid fa-gear header__config btn"></i>
            <i class="fa-solid fa-circle-user header__user btn"></i>
        </div>
    </header>
    <main class="main">
        <nav class="nav"> <!-- Menu lateral -->
            <div class="btn__redactar" id="open">
                <i class="fa-solid fa-pen icon__redactar"></i>
                <span>Escribir</span>
            </div>
            <ul class="nav__content">
                <li class="nav__item" id="nav__content1">
                    <i class="fa-solid fa-inbox icon"></i>
                    <span class="nav_list">Bandeja de Entrada</span>
                </li>
                <li class="nav__item 2" id="nav__content2">
                    <i class="fa-solid fa-paper-plane icon"></i>
                    <span class="nav_list">Enviados</span>
                </li>
                <li class="nav__item 3" id="nav__content3">
                    <i class="fa-solid fa-star icon"></i>
                    <span class="nav_list">Favoritos</span>
                </li>
                <li class="nav__item 4" id="nav__content4">
                    <i class="fa-solid fa-file icon"></i>
                    <span class="nav_list">Borrador</span>
                </li>
            </ul>
        </nav>

        <section class="emails">
            <div class="emails-table-container">
                <table id="emails-table">
                    <thead>
                        <tr>
                            <th style="width: 18%;">De</th>
                            <th style="width: 20%;">Asunto</th>
                            <th>Mensaje</th>
                        </tr>
                    </thead>
                    <tbody data-emails-table-body>

                    </tbody>
                </table>
            </div>
        </section>

        <!--Container Email-->
        <section class="email"> <!--email-->
            <div class="email__modal">
                <div class="email__modal-encabezado">
                    <h2 class="encabezado__titulo">Mensaje nuevo</h2>
                    <div class="encabezado__icons">
                        <div class="content__icon-form btn_minimize">
                            <i class="fa-solid fa-minus encabezado__icon"></i>
                        </div>
                        <div class="content__icon-form exit">
                            <i class="fa-solid fa-xmark encabezado__icon"></i>
                        </div>
                    </div>
                </div>
                <form class="email__form">
                    <input 
                        type="email" 
                        required name="" 
                        id="" 
                        placeholder="Para" 
                        class="email__for form__input">
                    <input 
                        type="text" 
                        name="" 
                        id="" 
                        placeholder="Agregar asunto" 
                        class="email__affair form__input">
                    <textarea 
                        name="" 
                        id="" 
                        placeholder="Descripcion" 
                        class="email__messege form__input"></textarea>
                    <button class="email__btn-enviar">Enviar</button>
                </form>
            </div>
        </section>
        
    </main>
    <script src="js/main.js"></script>
    <script src="js/script.js" type="module"></script>
</body>
</html>