<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login-singup.css">
    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <title>Formulario Registro</title>
</head>

<body>
    <section class="form-register">
        <img src="img/logo.png" alt="Logo">
        <h4>Formulario de Registro</h4>
        <form data-singup-form>
            <input 
                class="controls" 
                type="text" 
                name="name"
                placeholder="Ingrese su Nombre" 
                required=""
                autocomplete="off"
                data-name-signup-input>
            <input 
                class="controls" 
                type="text" 
                name="lastname" 
                placeholder="Ingrese su Apellido"
                required="" 
                autocomplete="off"
                data-lastname-signup-input>
            <input 
                class="controls" 
                type="email" 
                name="email"
                placeholder="Ingrese su Correo" 
                required=""
                autocomplete="off"
                data-email-signup-input>
            <input 
                class="controls" 
                type="password" 
                name="password" 
                placeholder="Ingrese su Contraseña"
                required="" 
                autocomplete="off"
                data-password-signup-input>
            <div>
                <input type="checkbox" required>
                Estoy de acuerdo con <a href="#">Terminos y Condiciones</a>
            </div>
            <button>Registrar</button>
        </form>

        <r>¿Ya tienes una cuenta?
            <a class="link" href="/login">
                Inicar Sesión
            </a>
        </r>


    </section>
    <script src="js/singup.js"></script>
</body>

</html>