@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --font_main: "Roboto", sans-serif;
  --font_color: #202124;
  --color-bright: #4900c2;
  --color_primary: #3ca5d5;
  --color_second: #30589e;
  --color_gray: #6e6e6e;
  --color_second-light: #eef5ff;
  --font_shadow-black: #1b1b1d0e;
  --box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
  --transition: 0.3s ease;
  --border-radius: 0.5rem;
  --header-height: 3.5em;
}

body {
  font-family: var(--font_main);
  color: var(--font_color);
  background-color: #fff;
  height: calc(100vh - 56px);
}

.loader-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  background-color: var(--color_second-light);

  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-icon {
  width: 75vw;
}

.wallpaper {
  position: fixed;
  z-index: -10;
  right: 0;

  /* width: 100vw; */
  height: 100vh;
  opacity: 0.7;
  filter: blur(10px);
}

a {
  color: var(--font_color);
}

ul li {
  list-style: none;
}

/*--- Barra Superior ---*/

.header {
  background-color: var(--color_primary);
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color_second-light);
  background-color: rgb(246, 254, 255);
  border-bottom: 1px solid #aaa;
  color: #3d3d3d;
}

.header__left,
.header__right {
  /* margin: 0 1em; */
  display: flex;
  align-items: center;
}


.btn {
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 50%;
}

.btn:hover {
  background-color: var(--font_shadow-black);
}

.header_index {
  width: auto;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.header__Logo {
  width: 9em;
  padding: 0;
}

.header__right .btn {
  margin: 0 0.2em;
}

.header__user.btn {
  font-size: 2em;
  /* padding-right: 0; */
  margin: 0;
}

.header__user.btn:hover {
  background-color: transparent;
}

.header__right .username {
  padding-left: 0.5em;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: right;
  width: min-content;
}

/*--- main ---*/

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

/*--- Menu lateral ---*/

.nav {
  position: fixed;
  width: 18em;
  height: calc(100vh - var(--header-height));
  border-right: 1px solid #61616150;
  z-index: 1;
  overflow: hidden;
  transition: var(--transition);

  background-color: #fffa;
  backdrop-filter: blur(10px);
}

.nav.active {
  width: 4.5em;
}

.btn__redactar {
  width: 13.6em;
  height: 3em;
  border-radius: 12px;
  display: flex;
  align-items: center;
  background-color: var(--color_second-light);
  border: 1px var(--color_second) solid;
  font-size: 1em;
  font-weight: 500;
  margin: 1.3em 1.5em;
  cursor: pointer;
  transition: var(--transition);
}

.btn__redactar:hover {
  box-shadow: 0px 1px 7px 0px rgb(0 0 0 / 52%); /*-11px*/
}

/*----------------------*/
.btn__redactar.active {
  width: 3.5em;
  margin: 1.3em 0.5em;
  overflow: hidden;
}

.icon__redactar.active {
  margin: 0 0.8em 0 0.8em;
}

.nav__item.active {
  padding: 0 0.5em 0 1rem;
}
/*----------------------*/

.icon__redactar {
  font-size: 1.4em;
  margin: 0 1em 0 1em;
}

.nav__content {
  width: 100%;
  padding: 0;
}

.nav__item {
  width: 100%;
  min-width: 15em;
  height: 2.3em;
  display: flex;
  align-items: center;
  padding: 0 0.5em 0 2rem;
  cursor: pointer;
  transition: var(--transition);
}

.icon {
  width: 44px;
  font-size: 1.3em;
  text-align: center;
}

.nav_list {
  font-size: 1em;
  margin-left: 15px;
  font-weight: 400;
}

.nav__item:hover,
.nav__item.selected {
  background-color: var(--color_second-light);
  color: var(--color_second);
}

/*--- Email Container---*/

.emails {
  position: relative;
  width: calc(100vw - 18em);
  margin-left: 18em;
  height: 100%;
  transition: var(--transition);

  display: flex;
  flex-direction: column;
}

.emails.active {
  width: calc(100vw - 4.5em);
  margin-left: 4.5em;
}

.emails:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  /* background-image: url(../img/wallpaper.png); */
  /* background-size: 70em; */
  background-position: bottom;
  background-repeat: no-repeat;
}

.background-text {
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #6e6e6e; */
  font-weight: bold;
  font-size: 2rem;

  display: none;
}

/* ------ CONTENEDOR DE EMAILS -------- */

.email-row,
.emails-table-header {
  position: relative;
  background-color: #00c44e09;
  background-color: var(--color_second-light);
  padding: 0.5em 0.8em;
  border-bottom: 1px solid #0002;

  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5em;
}

.emails-table-header {
  color: #000;
  font-weight: bold;
  background-color: #eee;
  border-bottom: 2px solid #aaa;
}

.emails-rows {
  height: 100%;
  overflow: auto;
}

.email-row:hover {
  cursor: pointer;
  /* box-shadow: 0 0 5px 0px grey; */
}

.email-row.unread {
  background-color: #fff;
}

.email-row .block {
  position: absolute;
  height: 100%;
  width: 6px;
  background-color: var(--color-bright);
  display: none;
}

.email-row.unread .block {
  display: block;
}

.field-group {
  display: grid;
  gap: 0.1em;
}

.email-row .field-group * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-icon-field {
  margin-left: 0.2em;
  font-size: 2em;
}

/* .user-field {
} */

/* .subject-field {
} */

/* .message-field {
} */

.date-field {
  text-align: right;
  white-space: nowrap;

  display: flex;
  align-items: center;
}

/* ------------ CALENDARIO ----------------------------- */
.calendar-container {
  --fc-today-bg-color: rgba(73, 0, 194, 0.13);

  --fc-button-bg-color: #006891;
  --fc-button-border-color: #003a52;

  --fc-button-hover-bg-color: #003f58;
  --fc-button-hover-border-color: #002635;

  z-index: 0;
  padding: 0.5em 0;
  /* padding-top: 1em; */
  border-top: 10px solid grey;
}

.fc .fc-toolbar.fc-header-toolbar {
  padding: 0 1em;
  margin-bottom: 0.6em;
}

.fc .fc-toolbar-title {
  font-size: 1.5em;
}

.fc .fc-button {
  padding: 0.2em 0.5em;
}

/* -------- CONTENIDO DE EMAIL ------------------- */

.email-content {
  font-size: 1.1rem;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  padding: 0.5rem 2rem;
  display: none;
}

/* .email-header, .buttons, .subject, .user-info, .email-body {
  border: 1px solid black;
} */

.email-header {
  border-bottom: 2px solid #888;
  padding-bottom: 0.8rem;
}

.email-header .buttons {
  font-size: 1.5rem;

  display: flex;
  justify-content: space-between;
}

.email-header .buttons div * {
  padding: 0.3rem;
  border-radius: 0.5rem;
  transition: var(--transition);
}

.email-header .buttons div *:hover {
  cursor: pointer;
  background-color: #ddd;
}

.email-header .subject {
  font-size: 1.7rem;
  margin: 0.5rem 0;
}

.email-header .from-user-info {
  padding-top: 0.3rem;
  display: flex;
  margin-bottom: 0.7rem;
}

.email-header .from-user-info i {
  font-size: 2.6rem;
  margin-right: 0.7rem;
}

.email-header .from-user-info .address-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.email-body {
  margin-top: 1em;
}

/*------------------*/
.email.active {
  display: flex;
  background-color: #2b28286c;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.email {
  display: none;
  z-index: 50;
}

.email__modal {
  background-color: #fff;
  width: 75%;
  border-radius: 8px;
  height: 85%;
}

.email__modal-encabezado {
  background-color: #000000b6;
  height: 3em;
  color: #fff;
  padding: 10px 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px 8px 0 0;
}

.encabezado__titulo {
  font-size: 1em;
  font-weight: 400;
}

.encabezado__icons {
  font-size: 0.8em;
  display: flex;
}

.content__icon-form {
  padding: 1px 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.content__icon-form:hover {
  background-color: var(--color_gray);
}

.encabezado__icon {
  padding: 2px;
  margin: 3px;
}

.email__form {
  display: flex;
  flex-direction: column;
}

.form__input {
  border: 0;
  padding: 0 1em;
  outline: none;
}

.email__for,
.email__affair {
  width: 100%;
  height: 2.3em;
  border-bottom: 1px var(--color_gray) solid;
}

.email__messege {
  height: 21em;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
}

.email__btn-enviar {
  width: 6.5em;
  height: 2.5em;
  border-radius: 5px;
  border: none;
  background-color: var(--color_second);
  color: #fff;
  margin: 1em;
}

.email__btn-enviar:hover {
  cursor: pointer;
}

.email.minimize {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  top: auto;
  left: auto;
  bottom: 0;
  right: 2em;
  width: 20em;
  height: 3em;
}

.email__modal.minimize {
  height: 3em;
  width: 20em;
  position: absolute;
  top: 0;
  right: 0;
}

.email__form.minimize {
  display: none;
}

/*
    height: 3em;
    width: 20em;
    position: absolute;
    bottom: 0;
    right: 2em;
*/

@media only screen and (max-width: 992px) {
  .emails {
    width: calc(100vw - 4.5em);
    margin-left: 4.5em;
  }
  .nav.active {
    box-shadow: none;
  }
  .nav {
    box-shadow: 5px 1px 5px 0px #0005;
  }
}

@media screen and (min-width: 1024px) {
  .email-row .user-icon-field {
    font-size: 1.2em;
  }
  .email-row .field-group {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
  }
  /* .email-row .field-group * {
    display: flexbox;
    align-items: center;
  } */
}
